html, body {
    margin: 0.5em;
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    width: 420px;
    border: solid black 1px;
}

.grid div {
    height: 15px;
    width: 15px;
}

.pac-dot {
    background-color: green;
    border-radius: 7.5px;
    border: 5px white solid;
    box-sizing: border-box;
    
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 7.5px;
}

.pacman {
    background-color: yellow;
    border-radius: 7.5px;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: aqua;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}