body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--header {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-left: 7px;
}

.section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 450px;
  border: 2px green solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card--data {
  display: flex;
  /* border: 2px fuchsia dashed; */
  justify-content: center;
  align-items: center;
}

.card--data > img {
  height: 7px;
}

.card--content {
  display: flex;
  flex-direction: column;
  /* border: 1px orange dotted */
}

.layout-test {
  width: 100%;
}