body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--header {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-left: 7px;
}

.card {
  width: 450px;
  border: 2px green solid;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}