body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 55px;
  color: #f55a5a;
}

.nav--header {
  font-size: 15px;
  font-weight: 500;
  color: grey;
}

.card {
  width: 450px;
  border: 2px green solid;
}